:host {
    display: block;
    padding: 16px;
}

::ng-deep {
    table.mat-table {
        width: 100%;
    }

    th.mat-header-cell:first-of-type,
    td.mat-cell:first-of-type,
    td.mat-footer-cell:first-of-type {
        padding: 0 24px 0 0 !important;
    }
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
}

.total {
    h3 {
        margin: 0;
    }
}

.top-ten {
    h2 {
        margin: 0;
    }
}
