<div class="total">
    <h3>Total confirmed</h3>
    <h2>{{total | number}}</h2>
</div>

<mat-divider></mat-divider>

<div class="top-ten">
    <h2>Top 10 countries</h2>
    <table *ngIf="records.length" mat-table [dataSource]="records">
        <ng-container matColumnDef="countryRegion">
            <th mat-header-cell *matHeaderCellDef>Country</th>
            <td mat-cell *matCellDef="let element">
                <strong>{{element.countryRegion}}</strong>
            </td>
        </ng-container>

        <ng-container matColumnDef="confirmed">
            <th mat-header-cell *matHeaderCellDef>Cases</th>
            <td mat-cell *matCellDef="let element">{{element.confirmed}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
