:host {
    margin-left: auto !important;
}

::ng-deep {
    .mat-form-field-appearance-fill .mat-form-field-flex {
        background-color: transparent;
    }

    .mat-form-field-flex > .mat-form-field-infix {
        padding: 0.4em 0 !important;
    }

    .mat-form-field-label-wrapper {
        top: -.5em;
    }

    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        transform: translateY(1.1em) scale(.75);
    }

    .mat-icon {
        transform: translateX(-.05em) translateY(.05em) scale(.85);
    }
}

mat-label {
    font-size: 1rem;
}

input {
    font-size: 1rem;
}

.country-search-field {
    width: 250px;
}
