<mat-form-field class="country-search-field" appearance="fill">
    <mat-label>Country name ...</mat-label>
    <input type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto"
           (keyup.enter)="!autocomplete.isOpen ? onSearchButtonClick($event): null">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.countryRegion}}
        </mat-option>
    </mat-autocomplete>
    <button mat-button matSuffix mat-icon-button (click)="onSearchButtonClick($event)">
        <mat-icon>search</mat-icon>
    </button>
</mat-form-field>
