mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
}

.details {
    text-align: left;
}

.details-data {
    display: flex;

    ul {
        list-style: none;
        padding: 0;
        min-width: 200px;

        @media screen and (max-width: 480px) {
            min-width: auto;
            width: 50%;
        }
    }
}

.message {
    h2 {
        text-align: left;
    }
}
