<ng-container *ngIf="selectedCountry$ | async as country; else message">
    <div class="details">
        <h2>{{country.countryRegion}}</h2>
        <mat-divider></mat-divider>
        <div class="details-data">
            <ul>
                <li>
                    <strong>Confirmed</strong>: {{country.confirmed}}
                </li>
                <li>
                    <strong>Deaths</strong>: {{country.deaths}}
                </li>
                <li>
                    <strong>Recovered</strong>: {{country?.recovered || 'n/a'}}
                </li>
            </ul>
            <ul>
                <li>
                    <strong>Incident rate</strong>: {{country.incidentRate}}
                </li>
                <li>
                    <strong>Mortality rate</strong>: {{country.mortalityRate}}
                </li>
                <li>
                    <strong>Last update</strong>: {{country.lastUpdate | date}}
                </li>
            </ul>
        </div>
    </div>
</ng-container>

<ng-template #message>
    <div class="message">
        <h2>Country details</h2>
        <mat-divider></mat-divider>
        <h3>Please select a country on the map or search in the search field</h3>
    </div>
</ng-template>
