@use "variables/fonts";

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: fonts.$baseFontFamily;
    height: 100vh;
    margin: 0;
    padding: 0;
}

