@use "variables/variables";
@use "~@angular/material";
@use "variables/fonts";

.warn-snackbar {
    background: variables.$warn;
    color: variables.$white;
}

// Set custom font
$custom-typography: material.define-typography-config(
    $font-family: fonts.$baseFontFamily
);
@include material.core($custom-typography);
