@use "src/styles/variables/fonts";

:host {
    display: flex;
    flex-direction: column;
    flex: 1;
}

mat-toolbar {
    display: flex;
}

mat-sidenav-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

mat-sidenav {
    margin: 16px;
    border-right: none;
    width: 250px;
}

mat-sidenav-content {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 30px;
    margin-right: 10px;
}

.site-name {
    font-weight: 700;
    font-size: 1.5rem;
}

.content {
    flex: 1;
    display: flex;
    margin: 16px 16px 16px 32px;
    padding: 16px;
    min-height: 470px;

    &.fullscreen {
        margin: 16px;
    }
}

.selected-country-details {
    margin: 0 16px 16px 32px;
    padding: 16px;
    min-height: 160px;

    &.fullscreen {
        margin: 0 16px 16px 16px;
    }
}
