<mat-toolbar class="mat-elevation-z3">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <img class="logo" src="assets/twilio-mark-white.svg" alt="Twilio logo" />
    <span *ngIf="sidenav.opened" class="site-name">twilio / covid-19 cases interactive map</span>
    <app-country-autocomplete></app-country-autocomplete>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z3">
        <app-top-ten></app-top-ten>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z3" [ngClass]="{'fullscreen': !sidenav.opened}">
            <app-interactive-map></app-interactive-map>
        </div>
        <div class="selected-country-details mat-elevation-z3" [ngClass]="{'fullscreen': !sidenav.opened}">
            <app-current-country-details></app-current-country-details>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
