@use "src/styles/variables/variables";

:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: variables.$mapBackground;
}

::ng-deep {
    .map-tooltip {
        position: relative;
        margin: 0;
        padding: 0;

        h1 {
            position: relative;
            color: variables.$white;
            line-height: normal;
            margin: 0;
            z-index: 1
        }

        &:after {
            content:'';
            position: absolute;
            top: -10px;
            left: -10px;
            width: calc(100% + 20px);
            height: calc(100% + 20px);
            z-index: 0;
            margin: 0;
            background-color: variables.$mapPopupBackground;
        }
    }

    .map-tooltip-list {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            position: relative;
            z-index: 1;
            font-size: .875rem;
        }
    }
}

igx-geographic-map {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
}
