<igx-geographic-map #map class="map" width="100%" height="100%"
                    zoomable="true" (seriesMouseLeftButtonUp)="onSeriesClicked($event)">
</igx-geographic-map>

<ng-template let-item="item" #tooltip>
    <div class="map-tooltip mat-elevation-z10">
        <h1>{{item.countryRegion}}</h1>
        <ul class="map-tooltip-list">
            <li class="confirmed">Confirmed: <span>{{ item.confirmed | number }}</span></li>
            <li *ngIf="item.recovered" class="recovered">Recovered: <span>{{ item.recovered | number }}</span></li>
            <li class="deaths">Deaths: <span>{{ item.deaths | number }}</span></li>
        </ul>
    </div>
</ng-template>
